.App {
  text-align: center;
}
body {
  background-color: rgba(55, 65, 81);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.table-container {
  width: 60%;
  margin: 0 auto;
}

.form-container {
  flex: 0 1 400px;
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.form {
  flex: 1;
}

.movie-info {
  display: flex;
  gap: 20px;
}

.movie-info .cover {
  width: 200px;
}

.movie-info h1 {
  text-align: left;
  font-size: 26px;
}

.movie-details {
  width: 300px;
}

.movie-info p {
  margin: 0 0 4px 0;
  text-align: left;
}

.movie-info p span:first-child {
  display: inline-block;
  font-weight: bold;
  width: 75px;
}

p {
  text-align: left;
}
